PORT=5000
DATABASE_URL=mongodb+srv://admin:C58KT42BSBy1F96C@cluster0.xmelfag.mongodb.net/bi-cycle-store?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development
JWT_SECRET=2d1f98a34e1b8c9f3c4a57421c77c6a46d2c975b1fd6a5f1e7f8b12345678ab9
